/* Universal Rules */
:root {
  /* Colors */
  --screen-color: #ABBBD2;
  --ipod-text-color: #272A4B;

  /* Ipod Stuff */
  --ipod-height: 45vh;
  --ipod-text-size: calc(var(--ipod-height) * 0.05);

  --screen-width: calc((var(--ipod-height)) * 0.645);
  --screen-height: calc((var(--ipod-height)) * 0.52);
  --screen-position-y: calc(var(--ipod-height) * 0.12);
  --screen-position-x: calc(var(--ipod-height) * 0.18);

  /* Text Stuff */
  --main-font: "Open Sans", sans-serif;
  --header: 1em;
  --main-text: 1em;
  --subheader: 1em;
}
 

/********************* GENERAL PAGE STUFF *********************/

* {
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: var(--header);
  font-family: var(--main-font);
  font-weight: bold;
}

h2 {
  font-size: var(--subheader);
}

p {
  font-size: var(--main-text);
}

/********************* PAGE HEADER / LAYOUT *********************/

/* Layout for Login and Home Pages */
#template {
  width: 100vw;
  height: 100vh;

  color: var(--ipod-text-color);
  font-family: var(--main-font);

  display: grid;
  grid-template-areas:
    "header"
    "content";
  grid-template-columns: 1fr;
  grid-template-rows: 15vh auto;
  gap: 1px;

  overflow: hidden; /* So the whole page wont scroll */
}

#content-block {
  grid-area: content;

  /* Keeping the menu centered */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  justify-content: start; /* Centers content vertically */
  text-align: center; /* Centers text within each element */
}

/* Layout for Content Pages */
#template-layout {
  width: 100vw;
  height: 100vh;

  color: var(--ipod-text-color);
  font-family: var(--main-font);

  display: grid;
  grid-template-areas:
    "header header"
    "menu content";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15vh auto;
  gap: 1px;

  overflow: hidden; /* So the whole page wont scroll */
}

#page-header {
  grid-area: header;

  text-align: center;
  padding: 3vh;

  /* Get "Mood Mix" at bottom */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  /* Making the Header immovable */
  position: sticky;
  top: 0;
  z-index: 100;
}

#page-header a {
  text-decoration: none;
  color: var(--ipod-text-color);
}

/* The menu is fixed and un moving! */
/* The menu sits in the middle of the div */
#menu-side {
  grid-area: menu;

  /* Keeping the menu centered */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  justify-content: center; /* Centers content vertically */
  text-align: center; /* Centers text within each element */

  /* Keeping the menu immovable */
  position: sticky;
  top: 0;
}

#content-side {
  grid-area: content;

  /* Making content scroll-able*/
  padding: 10vh 15vw 10vh 1rem;
  overflow-y: auto;
}

/********************* IPOD (MENU) *********************/

#ipod {
  /* Size of Ipod */
  width: fit-content;
  position: relative;
  margin: 1rem;

  font-family: "Pixelify Sans", sans-serif;
}

#ipod img {
  width: var(--ipod-height);
}

.screen {
  width: var(--screen-width);
  height: var(--screen-height);

  /* Screen Positioning */
  position: absolute;
  top: var(--screen-position-y);
  left: var(--screen-position-x);
}

/* Ipod as Nav Bar */
.screen #menu {
  /* Screen Formating */
  display: grid;
  grid-template-areas:
    "header"
    "link1"
    "link2"
    "link3"
    "link4"
    "link5";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1px;
}

/* Menu Items */

.menu-item a:hover {
  background-color: var(--ipod-text-color);
  color: var(--screen-color);
}

.menu-item a {
  height: calc(var(--screen-height) / 8);
  color: var(--ipod-text-color);
  text-decoration: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1px 6px;
}

.menu-item h6 {
  font-size: var(--ipod-text-size);
  font-weight: normal;
}

.menu-item p {
  font-size: 10px;
  font-weight: bold;
}

/* Menu Header */
.ipod-header {
  text-align: center;
  border-bottom: var(--ipod-text-color) solid calc(var(--ipod-height) / 150);
  padding-bottom: calc(var(--ipod-height) / 90);
  margin-bottom: calc(var(--ipod-height) / 150);
  font-size: var(--ipod-text-size);
 }
 
.ipod-header a {
  color: var(--ipod-text-color);
  text-decoration: none;
}

/********************* IPOD (LANDING PAGE LOGIN_MENU) *********************/

/* Ipod as Welcome Screen */
#login-menu {
  /* Screen Formating */
  display: grid;
  grid-template-areas:
    "header"
    "text"
    "option1"
    "option2";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr 1fr;
  gap: 1px;
}

.ipod-header {
  grid-area: header;
}

#text {
  grid-area: text;
  padding: 1px 6px;

  text-align: left;
}

#option1 {
  grid-area: option1;
}

#option2 {
  grid-area: option2;
}

/* IPOD SHOWING STATUS */

/* Ipod as Status Screen */
#status {
  /* Screen Formating */
  display: grid;
  grid-template-areas:
    "header"
    "message";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr;
  gap: 1px;
}

#message {
  grid-area: message;
  padding: 1px 6px;

  text-align: left;
}