{% extends "layout.html" %}

{% block content %}

<!--
<body>
    <header>
        <h1> <br> Welcome to Mood Mix! </h1> 
    </header>
-->
    <!--container-->
    <main class="container">
        <div class="left-side">
            <div class="home-box" id="questions-about-us"> 
                <h2 class="text-boarder">Discover the Connection: Does Your Music Taste Reflect Your Personality?</h2>
                <p> 
                    <br>
                    Ever wondered what your music taste says about you? At Mood Mix, we believe that the 
                    songs you love are more than just tunes – they're a reflection of who you are.
                </p>
                <br>
            <!--
                <p>
                    Research shows that our personalities are closely linked to our musical preferences. 
                    Extroverts often feel the beat with energetic, rhythmic music, while those with quieter 
                    personalities might lean towards improvisational and instrumental tracks. 
                    Your favorite genres can reveal aspects of your age, social class, income, 
                    cultural background, and even self-esteem. 
                </p>
                <br>
            -->  
                
        
                <h2 class="text-boarder">About us</h2>
                <br>
                <p> At Mood Mix, we process your Spotify playlists to provide insights into your personality and recommendations 
                     of what music may resonate with you. Whether you're curious about what your playlist says 
                    about you or are just looking to explore new tunes that match your vibe, we're here to help you 
                    discover more about yourself through the power of music.
                </p>
                <p> 
                    <br>
                    <b>Let's dive into the music that moves you!</b>
                </p>
            </div>
        </div>
        <div class="image">
            <a href="{{url_for('insights')}}"> <!--link to insights page--> 
            <img src="{{url_for('static',filename='images/aura2.png')}}"  alt="aura circle for insights page">
            <div class="text-overlay"> Playlist Insights </div>
            </a>
        <div class="image" style="margin-top: 60px;">
            <a href="{{url_for('user_form')}}"> <!--link to horoscope page--> 
            <img src="{{url_for('static',filename='images/aura3.png')}}" alt="aura circle for horoscope page">
            <div class="text-overlay"> Musical Horoscope </div>
            </a>
        </div>
    </main>

<!--
</body>
    
-->
    
{% endblock %}