{% extends "layout.html" %}

{% block title %}Get Playlist Insights{% endblock %}

{% block content %}

    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">

    <h2>Get Playlist Insights!</h2>
    <p>
        Ever wondered what your playlists say about you? Select your playlists
        and get some insights into your musical preferences and personality!
    </p>
    <br>
    <div class="notepad-container">
        <div class="notepad">
            <form action="{{ url_for('insights') }}" method="post">
                <div class="med-break"></div>
                <label for="playlist_href">Spotify Playlist:</label>
                <select id="playlist_href" name="playlist_href" required>
                    <option value="" disabled selected>Select a playlist</option>
                    {% for playlist in playlists %}
                        <option value="{{ playlist.playlist_href }}">{{ playlist.playlist_name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Get Insights</button>
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>

{% endblock %}
