<!-- Layout File for Modules! (All but Home Page) -->
<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mood Mix</title>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">

  <!-- CSS Style sheet -->
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">

  <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->
</head>

<body>
  <div id="template">
    <div id="page-header">
      <a href="home.html"><h1>Mood Mix</h1></a>
    </div>

    <div id="menu-side">
      {% include "nav_bar.html" %}
    </div>
    <div id="content-side">
      {% block content %}
      This is where module content would go!
      {% endblock %}   
    </div>
  </div>
</body>
</html>