<!-- Layout File (Nav Bar for now Mostly)-->
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mood Mix</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Shrikhand&family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">

    <!-- CSS Style sheet-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    
    <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->
     
</head>
<body>
  <nav>
    <a id='webtitle' href="/home">Mood Mix</a>

    <div class="features">
      <a class="button" href="/insights">INSIGHTS</a>
      <a class="button" href="/user_form">FORM</a>
    </div> 
  </nav>
  <div id = "body">
    {% block content %}
      <!-- All other pages content go here -->
    {% endblock %}
  </div>
</body>
</html>