<!-- IPOD LOGIN MENU -->
{% extends "ipod.html" %}
{% block content %}
<html>
<div class="screen" id="login-menu">
  <div class="ipod-header"><a>Mood Mix</a></div>
  <div id="text">
    <p id="text-content">Welcome to Mood Mix!</p>
  </div>
  <div class="menu-item"><a id="option1" onclick="updateText('option1')">Next<p>&gt;</p></a></div>
  <div class="menu-item"><a id="option2" href="/login" onclick="updateText('option2')">Skip to Login<p>&gt;</p></a></div>
</div>
</html>

<script>
  let slideNum = 0;

  // Function to type out text letter by letter and append HTML content
  function typeTextWithHTML(text, htmlContent, elementId) {
    let i = 0;
    const speed = 40;
    const textBox = document.getElementById(elementId);
    textBox.innerHTML = "";
    
    function typeWriter() {
      if (i < text.length) {
        textBox.innerHTML += text.charAt(i);
        i++;
        setTimeout(typeWriter, speed);
      } else {
        textBox.innerHTML += htmlContent; // Append HTML content
      }
    }
    
    typeWriter();
  }

  // Function to update text based on which option is clicked
  function updateText(option) {
    slideNum += 1;
    console.log(slideNum);

    if (option === "option1") {
      if (slideNum == 0) {
        // reset ipod
        document.getElementById("text-content").innerHTML = ""
        typeTextWithHTML("Welcome to Mood Mix!", "", "text-content");

        typeTextWithHTML("Next", "<p>&gt;</p>", "option1");
        typeTextWithHTML("Skip to Login", "<p>&gt;</p>", "option2");
      }
      
      if (slideNum == 1) {
        document.getElementById("text-content").innerHTML = ""
        typeTextWithHTML("We believe your music taste and personality are deeply intertwined!", "", "text-content");

        typeTextWithHTML("Next", "<p>&gt;</p>", "option1");
        typeTextWithHTML("Skip to Login", "<p>&gt;</p>", "option2");
      }
      
      if (slideNum == 2) {
        document.getElementById("text-content").innerHTML = ""
        typeTextWithHTML("Login to get started!", "", "text-content");

        // update buttons
        typeTextWithHTML("Go Back", "<p>&gt;</p>", "option1");
        typeTextWithHTML("Login", "<p>&gt;</p>", "option2");
        slideNum = -1;
      }
    } else if (option === "option2") {
      document.getElementById("text-content").innerHTML = ""
      typeTextWithHTML("Redirecting to Login ...", "", "text-content");
    }
  }
</script>

{% endblock %}