{% extends "layout.html" %}

{% block title %}Get Playlist Insights{% endblock %}

{% block content %}

    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">

    <h2>Playlist recommendations!</h2>
    <p>
        Looking to listen to something new? Drop a playlist link 
        below and we will provide a curated list of songs that match
        your playlist's vibe.
    </p>
    <br>
    <!-- Container for background image and button -->
    <div class="notepad-rec-container">
        <div class="notepad-rec">        
            <form action="{{ url_for('music_recs') }}" method="post">
                <div class="med-break"></div>
                <label for="playlist_url">Spotify Playlist URL:</label>
                <input type="text" id="playlist_url" name="playlist_url" placeholder="Enter your playlist URL:" required>                
            
                <div class="button-container">  
                    <button type="submit">Get some recs!</button>
                </div>

            </form>
        
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        </div>
    </div>
    
{% endblock %}
