<!-- IPOD MENU -->
<div id="ipod">
  <img src="/static/images/ipod1.png"  alt="aura circle for insights page">
  <div class="screen" id="menu">
    <div><a>Mood Mix</a></div>
    <div><a href="home"><h6>About Us</h6><p>&gt;</p></a></div>
    <div><a href="insights"><h6>Insights</h6><p>&gt;</p></a></div>
    <div><a href="user_form"><h6>User From</h6><p>&gt;</p></a></div>
    <div><a href="mood"><h6>Horoscope</h6><p>&gt;</p></a></div>
    <div><a><h6>Music Recs</h6><p>&gt;</p></a></div>
  </div>
</div>
