<!-- IPOD MENU -->
{% extends "ipod.html" %}
{% block content %}
<div class="screen" id="menu">
  <div class="ipod-header"><a href="home">Mood Mix</a></div>
  <div class="menu-item"><a href="about_us"><h6>About Us</h6><p>&gt;</p></a></div>
  <div class="menu-item"><a href="insights"><h6>Insights</h6><p>&gt;</p></a></div>
  <div class="menu-item"><a href="user_form"><h6>User Form</h6><p>&gt;</p></a></div>
  <div class="menu-item"><a href="mood"><h6>Music Mood</h6><p>&gt;</p></a></div>
  <div class="menu-item"><a><h6>Music Recs</h6><p>&gt;</p></a></div>
</div>
{% endblock %}
