{% extends "layout.html" %}

{% block content %}

<!-- Flash messages display area -->
<div class="flash-messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<div class="submit-content">
    <h1>Your results are in!</h1>
    <br>
    <h3>Why did you get these results?</h3>
    <p>
        Based on your astrology sign, personality,
        and favorite genres, we think these songs fit your vibe!
        You can check out each song on Spotify's website for more information
        or preview the playlist to see what sounds you like. We
        hope you enjoy and find something new you like!
        <div class="med-break"></div>
    </p>
</div>

<div class="songreceipt-container">
    <div class="songreceipt">
        <img src="static/images/green-tape.png" alt="Tape" class="green-tape">
        <table>
            {% for song in recommendations %}
            <tr class="song">
                <td>
                    <!-- Song Title -->
                    <a class="bold" href="{{ song.link }}" target="_blank">{{ song.song }}</a>
                    <br>
                    <!-- Song Artist-->
                    <i>{{ song.artist }}</i>
                </td>
                <!-- Song Preview -->
                <td>
                    {% if song.preview_url %}
                    <div class="audio-container">
                        <button class="audio-button mono-font" onclick="togglePlay(this)">▶</button>
                        <audio preload="none">
                            <source src="{{ song.preview_url }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                        <span class="audio-time mono-font">0:00</span>
                    </div>
                    {% else %}
                    No preview available
                    {% endif %}
                    <br>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<br>

<div class="button-container">  
    <a class="button" href="{{ url_for('user_form') }}">Get New Insights</a>
    <a class="button" href="{{ url_for('view_recommendations') }}">View Recommended Songs</a>
</div>

<!-- Script for the play preview buttons -->
<script>
    function togglePlay(button) {
        var audio = button.nextElementSibling;
        var audioTime = button.nextElementSibling.nextElementSibling;
        if (audio.paused) {
            audio.play();
            button.textContent = '❚❚';
        } else {
            audio.pause();
            button.textContent = '▶';
        }
        audio.addEventListener('timeupdate', function() {
            var minutes = Math.floor(audio.currentTime / 60);
            var seconds = Math.floor(audio.currentTime % 60);
            if (seconds < 10) {
                seconds = '0' + seconds;
            }
            audioTime.textContent = minutes + ':' + seconds;
        });
    }
</script>

{% endblock %}
