{% extends "layout.html" %}

{% block content %}
<main class="container">
    <div class="left-side">
        <div>
            <h2> Tell Us About You </h2>
            <p>
                Give us some insight into your personality, and we will curate a 
                playlist that captures the essence of you.
            </p>
        </div>

        <div class="see-more-container">
            <a href="#" id="see-more" onclick="toggleExplanations(event)">Tell me more...</a>
        </div>
        <br>
        <div class="explanation" id="star-sign-explanation">
            <h2> Star Sign 🔮</h2>
            <p>
                Does your astrological sign influence your music preferences? 
                Whether you're a creative Pisces or an energetic Aries, we explore the potential 
                connections between your star sign and the music you love!
            </p>
        </div>
        <br>
        <div class="explanation" id="personality-traits-explanation">
            <h2> Personality Traits 😵‍💫</h2>
            <p>
                Are you an adventurous spirit craving new beats or a mellow soul who loves soothing melodies? 
                Share a bit about your personality to help us tailor your musical profile to find music 
                that resonates with you!
            </p>
        </div>
        <br>
        <div class="explanation" id="favorite-genres-explanation">
            <h2> Favorite Genres 🎶</h2>
            <p>
                What's a musical journey without knowing your favorite genres? 
                Let us in on your top genre picks, and we'll introduce some new tunes that 
                match the vibe.
            </p>
            <br>
            <br>
            <br>
        </div>
        
    </div>

    <div class="big-break"></div>

    <div class="formpaper-container">
        <div class="form-container formpaper">
            <img src="static/images/clip.png" alt="Clip" class="clip-image">
            <h3 class="user-form-h1">Playlist Generator Form</h3>
            <br>

            <!-- Display flashed messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <form id="user-form" action="{{ url_for('user_form') }}" method="POST">
                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.star_sign(size=32) }}
                </div>
                <br>
                <div class="form-group">
                    {{ form.personality_traits(class_='personality-traits-textarea', rows=4, cols=50) }}
                </div>
                <br>
                <div class="form-group">
                    {{ form.fav_genre1(size=32) }}
                    {{ form.optional_field1(size=32) }}
                </div>
                <br>
                <div class="form-group">
                    {{ form.fav_genre2(size=32) }}
                    {{ form.optional_field2(size=32) }}
                </div>
                <br>
                <div class="form-group">
                    {{ form.fav_genre3(size=32) }}
                    {{ form.optional_field3(size=32) }}
                </div>
                <br>
                <div class="form-group">
                    <br>
                    <p><b>Include your listening history?</b></p>
                    {{ form.include_history() }}
                </div>

                <br>

                <!-- <div class="form-group button-container"> -->
                <div class="form-group button-container">
                    <button style="color: blue" type="submit">Get my songs!</button>
                    <button style="color: blue" type="button" onclick="clearForm()">Clear Form</button>
                    <a style="color: blue" class="button" href="{{ url_for('view_recommendations') }}">View Recommended Songs</a>

                </div>
            </form>
        </div>
    </div>
</main>

<script>
    function toggleExplanations(event) {
        event.preventDefault();
        var explanations = document.querySelectorAll('.explanation');
        explanations.forEach(function(explanation) {
            if (explanation.style.display === 'none' || explanation.style.display === '') {
                explanation.style.display = 'block';
            } else {
                explanation.style.display = 'none';
            }
        });
        var seeMoreLink = document.getElementById('see-more');
        seeMoreLink.innerText = seeMoreLink.innerText === 'Tell me more...' ? 'Tell me less!' : 'Tell me more...';
    }

    document.addEventListener('DOMContentLoaded', function() {
        var explanations = document.querySelectorAll('.explanation');
        explanations.forEach(function(explanation) {
            explanation.style.display = 'none';
        });
    });

    function clearForm() {
        document.getElementById('user-form').reset();
    }
</script>

{% endblock %}
